@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.87 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.87 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-dynapuff: var(--font-dynapuff);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: #fa7275;
  --color-brand-dark: #ea6365;
  --color-white: #ffffff;
  --color-black: #04050c;
  --color-gray-500: #131524;
  --color-gray-400: #333f4e;
  --color-gray-300: #a3b2c7;
  --color-gray-200: #f2f5f9;
  --color-gray-100: #f2f4f8;
  --color-error: #b80000;
  --color-green: #3dd9b3;
  --color-orange: #f9ab72;
  --color-violet: #eea8fd;
  --color-blue: #56b8ff;
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-poppins;
  }
}

@layer utilities {
  /* TYPOGRAPHY */
  .h1 {
    @apply text-[34px] leading-[42px] font-bold;
  }
  .h2 {
    @apply text-[24px] leading-[36px] font-bold;
  }
  .h3 {
    @apply text-[20px] leading-[28px] font-semibold;
  }
  .h4 {
    @apply text-[18px] leading-[20px] font-medium;
  }
  .h5 {
    @apply text-[16px] leading-[24px] font-semibold;
  }
  .subtitle-1 {
    @apply text-[16px] leading-[24px] font-medium;
  }
  .subtitle-2 {
    @apply text-[14px] leading-[20px] font-semibold;
  }
  .body-1 {
    @apply text-[16px] leading-[24px] font-normal;
  }
  .body-2 {
    @apply text-[14px] leading-[20px] font-normal;
  }
  .button {
    @apply text-[14px] leading-[20px] font-medium;
  }
  .caption {
    @apply text-[12px] leading-[16px] font-normal;
  }
  .overline {
    @apply text-[10px] leading-[14px] font-normal;
  }

  /* GENERAL */
  .submit-button {
    @apply bg-brand hover:bg-brand-dark cursor-pointer rounded-full transition-all;
  }
  .alert-dialog {
    @apply max-w-[95%] space-y-4 rounded-xl bg-white px-4 py-10 outline-none sm:w-max md:rounded-3xl md:px-8;
  }

  /* AUTH FORM */
  .auth-form {
    @apply flex max-h-[800px] w-full max-w-[580px] flex-col justify-center space-y-6 transition-all lg:h-full lg:space-y-8;
  }
  .form-title {
    @apply text-center text-gray-400 md:text-left;
  }
  .form-item {
    @apply flex h-[78px] flex-col justify-center rounded-xl border border-gray-200 px-4 shadow-lg;
  }
  .form-label {
    @apply w-full pt-2 text-gray-400;
  }
  .form-input {
    @apply border-none p-0 caret-gray-400 shadow-none ring-offset-transparent outline-none placeholder:text-gray-300 focus:ring-transparent focus:ring-offset-0 focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 focus-visible:outline-none;
  }
  .form-message {
    @apply text-error ml-4;
  }

  /* DIALOG */
  .otp-group {
    @apply grid w-full grid-cols-6 gap-1 md:gap-3;
  }
  .otp-slot {
    @apply text-brand-dark h-20 w-full rounded-md font-medium md:size-20;
  }

  /* SIDEBAR */
  .sidebar {
    @apply hidden h-screen w-[90px] flex-col overflow-auto px-5 py-7 sm:flex lg:w-[280px] xl:w-[325px];
  }
  .sidebar-navigation {
    @apply mt-9 flex-1 gap-1;
  }
  .sidebar-link {
    @apply hover:bg-brand/10 flex h-[52px] items-center justify-center gap-4 rounded-xl text-gray-400 select-none lg:w-full lg:justify-start lg:rounded-full lg:px-[30px];
  }
  .sidebar-link-active {
    @apply bg-brand pointer-events-none text-white shadow-2xl;
  }
  .navigation-icon {
    @apply w-6 opacity-25 invert filter;
  }
  .navigation-icon-active {
    @apply opacity-100 invert-0;
  }
  .sidebar-user-info {
    @apply mt-4 flex items-center justify-center gap-2 rounded-full p-1 text-gray-400 lg:justify-start lg:p-3;
  }
  .sidebar-user-avatar {
    @apply aspect-square w-10 rounded-full border border-gray-200 object-cover;
  }

  /* HEADER */
  .header {
    @apply hidden items-center justify-between gap-5 p-5 sm:flex lg:py-7 xl:gap-10;
  }
  .header-container {
    @apply flex min-w-fit items-center justify-center gap-4;
  }
  .logout-button {
    @apply text-brand hover:bg-brand/10 h-[52px] min-w-[54px] cursor-pointer items-center justify-center rounded-full bg-transparent p-0 shadow-none transition-all;
  }

  /* Search */
  .search {
    @apply relative w-full md:max-w-[480px];
  }
  .search-input-container {
    @apply flex h-[52px] flex-1 items-center gap-3 rounded-full px-4 shadow-xl;
  }
  .search-input {
    @apply w-full border-none p-0 shadow-none ring-offset-transparent outline-none placeholder:text-gray-300 focus:ring-transparent focus:ring-offset-0 focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 focus-visible:outline-none;
  }
  .search-result {
    @apply absolute top-16 left-0 z-50 flex w-full flex-col gap-3 rounded-[20px] bg-white p-4;
  }
  .empty-result {
    @apply text-center text-gray-400;
  }

  /* FILE UPLOADER */
  .upload-button {
    @apply bg-brand hover:bg-brand-dark h-[52px] cursor-pointer gap-2 rounded-full px-10 shadow-2xl transition-all;
  }
  .uploader-preview-list {
    @apply fixed right-10 bottom-10 z-50 flex size-full h-fit max-w-[480px] flex-col gap-3 rounded-[20px] bg-white p-7 shadow-xl;
  }
  .uploader-preview-item {
    @apply flex items-center justify-between gap-3 rounded-xl p-3 shadow-xl;
  }
  .preview-item-name {
    @apply mb-2 line-clamp-1 max-w-[300px];
  }

  /* THUMBNAIL */
  .thumbnail {
    @apply bg-brand/10 size-[50px] min-w-[50px] items-center justify-center overflow-hidden rounded-full;
  }
  .thumbnail-image {
    @apply size-full object-cover object-center;
  }
}
